/* AppDownload.css */
.app-download {
  font-family: 'Arial', sans-serif;
}

.app-download h3 {
  color: #080707;
  font-size: 30px;
  font-weight: 600;
}
/* .container{
  height: 100vh;
} */

.image-group img {
  width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Optional: Fade-in animation if desired */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
