/* Projects.css */
.projects-container {
  font-family: 'Arial', sans-serif; /* Set a readable font */
  text-align: right;
   /* Align text to the right */
}

.projects-container h4 {
  font-weight: bold;
  font-size: 2.5rem; /* Adjust font size */
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  justify-content: space-between;
}

video {
  width: 100%;
  max-width: 100%; /* Ensure videos are responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

