.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: right;
}

.projects-container h4 {
  padding: 25px;
  font-weight: bold;
  font-size: 40px;
  margin: 0; /* Remove default margin to keep spacing consistent */
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow videos to wrap on smaller screens */
  gap: 20px; /* Space between videos */
  margin-bottom: 40px; /* Space between video rows */
  justify-content: space-between; /* Distribute videos evenly */
}

video {
  width: 100%;
  max-width: 32%; /* Three videos per row on larger screens */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

@media (max-width: 1024px) {
  .video-wrapper {
    justify-content: center; /* Center videos on medium screens */
  }

  video {
    max-width: 48%; /* Two videos per row on medium screens */
  }
}

@media (max-width: 768px) {
  .video-wrapper {
    justify-content: center; /* Center videos on smaller screens */
  }

  video {
    max-width: 48%; /* Two videos per row on smaller screens */
  }
}

@media (max-width:550px) {
  video {
    max-width: 100%; /* One video per row on very small screens */
  }
}
