/* Quality.css */

.quality-container {
  font-family: 'Arial', sans-serif; /* Set a readable font */
  font-size: 1.5rem; /* Adjust font size for better readability */
  text-align: right; 
  height: 100vh;/* Align text to the right */
}

.quality-image img {
  width: 100%; /* Ensure image fills its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}
.container h1{
  font-weight: bold;
}

.quality-text {
 /* Add padding to the top */
  line-height: 1.5; /* Improve text readability */
}
.quality-text p{
  font-size: 30px;
}
 



@media (max-width: 576px) {
  .quality-text {
    font-size: 1rem; /* Adjust font size on smaller screens */
  }
}
