/* Header.css */
.header {
    height: 100vh; /* Adjust this as needed for responsiveness */
    margin: 5px auto;
    background: url('/public/home.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .header .container {
    position: relative;
    z-index: 1;
  }
  
  .header h1, .header p {
    margin: 0;
    color: #fff; /* Ensure text is readable on background */
  }
  
  @media (max-width: 576px) {
    .header {
      height: 50vw; /* Adjust height for smaller screens */
    }
  }
  



