.header {
    height: 34vw; /* Keeps height proportional to width */
    margin: 30px auto;
    background: url('/public/hhhhead.jpeg') no-repeat center center; /* Centers the image */
    background-size: cover; /* Ensures the image covers the entire header */
    position: relative;
    width: 100%; /* Ensure the header takes full width */
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-content h2 {
    font-weight: 500;
    color: #fff;
    font-size: max(4.5vw, 22px);
}

.header-content p {
    color: #fff;
    font-size: 1vw;
}

.header-content button {
    border: none;
    font-weight: 500;
    border-radius: 50px;
    background-color: white;
    font-size: max(1vw, 13px);
    padding: 1vw 2.3vw;
    color: #747474;
}

@media (max-width: 1050px) {
    .header-content {
        max-width: 45%;
    }
}

@media (max-width: 800px) {
    .header-content {
        max-width: 65%;
    }

    .header-content p {
        display: none;
    }

    .header-content button {
        padding: 2vw 4vw;
    }
}
