/* ServiceText.css */
.food-display {
  font-family: 'Arial', sans-serif;
}

.food-display h2 {
  color: #333;
  font-size: 2em;
}
.container h2{
  direction: rtl;
  font-weight: bold;
}

.food-display .paragraph-group {
  margin-bottom: 20px;
}

.food-display p {
  font-size: 1.5em;
  font-weight: 600;
  color: #201f1f;
}



