/* Navbar.css */
.navbar {
  padding: 0.5rem 1rem;
  
}

.navbar .logo {
  max-width: 150px;
}
.navbar-nav{
  direction: rtl;
  font-size: 20px;
  font-weight: bold;

}

.navbar-nav .nav-link {
  margin-right: 1rem;

}

.navbar-search-icon {
  cursor: pointer;
}

  
