/* Footer.css */
.footer {
  background-color: #f8f9fa;
  
}

.footer-logo {
  max-height: 70px;
 
}

.footer-icon {
  font-size: 20px;
  color: #333;
}

.footer-link {
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.footer-link:hover {
  color: #007bff;
}

.footer-item p {
  margin: 0;
  font-size: 16px;
  color: #333;
 
}
