/* They.css */
.explore-menu {
  direction: rtl; /* Right-to-left text direction */
  font-family: 'Arial', sans-serif; /* Font styling */
  line-height: 1.6; /* Improve text readability */
  font-size: 1.5rem; /* Adjust font size */
  margin-top: 5px;
}
.explore-menu h1{
  font-weight: bold;
}
.hello{
  height: 100vh;
}
.explore-menu p{
  font-size: 25px;
  margin-top: 15px;
}

.explore-image img {
  border-radius: 8px; /* Rounded corners for the image */
}
